<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="imu">

    <xacro:include filename="materials.xacro" />
    <xacro:include filename="util.xacro" />

    <link name="imu_link">
        <inertial>
            <mass value="${mass_imu}" />
            <origin xyz="${mass_center_imu}" rpy="0 0 ${pi/2}" />
            <inertia ixx="5.313564367625195e-06" iyy="5.192849578266062e-06" izz="8.832425081682543e-06" ixy="0.0" iyz="0.0" ixz="0.0" />
        </inertial>
        <visual>
            <origin xyz="${position_imu}" rpy="0 0 ${pi/2}" />
            <geometry>
                <mesh filename="file://$(find my_bot)/meshes/board_link.stl" scale="${scale}" />
            </geometry>
            <xacro:dark_green_material />
        </visual>
        <collision>
            <origin xyz="${position_imu}" rpy="0 0 ${pi/2}" />
            <geometry>
                <mesh filename="file://$(find my_bot)/meshes/board_link.stl" scale="${scale}" />
            </geometry>
        </collision>
    </link>

    <joint name="top_imu_joint" type="fixed">
        <origin xyz="${positions_imu_joint}" rpy="0 0 0" />
        <parent link="top_shell_link" />
        <child link="imu_link" />
    </joint>

    <gazebo reference="imu_link">
        <material>Gazebo/Orange</material>
        <gravity>true</gravity>
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <visualize>true</visualize>
            <topic>imu</topic>
            <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
                <topicName>imu</topicName>
                <bodyName>imu_link</bodyName>
                <updateRateHZ>10.0</updateRateHZ>
                <gaussianNoise>0.0</gaussianNoise>
                <xyzOffset>0 0 0</xyzOffset>
                <rpyOffset>0 0 0</rpyOffset>
                <frameName>imu_link</frameName>
                <initialOrientationAsReference>false</initialOrientationAsReference>
            </plugin>
            <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>
</robot>